<mat-card class="er-card-position">

	<form [formGroup]="userForm">

		<mat-card-header>
			<div class="mat-title er-title">
				Add User
			</div>
		</mat-card-header>

		<mat-card-content fxLayout="column">

			<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="1%">
				<mat-form-field fxFlex.lt-md="100%" fxFlex.gt-sm="50%">
			    	<input matInput placeholder="Email" type="email" formControlName="username">
			  	</mat-form-field> 	
			  	<div fxFlex.lt-md="100%" fxFlex.gt-sm="50%">
			    	
			  	</div>
			</div> 

			<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="1%">
			  	<mat-form-field fxFlex.lt-md="100%" fxFlex.gt-sm="50%">
			    	<input matInput placeholder="First name" formControlName="firstName">
			  	</mat-form-field>		
				
			  	<mat-form-field fxFlex.lt-md="100%" fxFlex.gt-sm="50%">
			    	<input matInput placeholder="Last name" formControlName="lastName">
			  	</mat-form-field>	
			</div>

	  	</mat-card-content>

	  	<mat-card-actions>
	  		<div fxLayout="row">	
				<button mat-raised-button color="primary" (click)="onClickSave()" [disabled]="userForm.invalid">Save</button> <button mat-raised-button (click)="onClickCancel()">Cancel</button>
			</div>
	  	</mat-card-actions>

	</form>

</mat-card>	
